<span class="w-10 md:w-20 h-10 md:h-20 place-content-center rounded-md select-none border bg-muted/50 font-medium text-foreground uppercase hover:bg-muted transition-colors duration-200 grid">
  <slot />
</span>
